@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

:root{
    --purple:#ffff;
    --pink:#ffffff;
    --black:#000000;
    --white:#000000;
    --gradient:linear-gradient(90deg, var(--pink), var(--pink));
    --gradient2:linear-gradient(90deg, var(--black), var(--white));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    margin-top: 0.5rem;
    padding:.7rem 2rem;
    border-radius: 3rem;
    background:var(--gradient2);
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s ease-out;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1rem;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 60vh;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top rgb(0, 0, 0) rgba(0, 0, 0, 0));
}

nav,
.header-bottom{
    display: flex;
    justify-content:space-between;
    padding: 0.5rem;
    position: relative;
}

.logo a{
    color: #ffffff;
    font-size: 2rem;
}

/*.btn-sign-up{
    padding: 0.7rem 2rem;
    background: #000000;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
    transition: .3s;
}

.btn-sign-up:hover{
    background: #ffffff;
    color: #000000;
}*/

.header-title{
    margin: auto auto;
    font-size: 5rem;
    color: #F5F5DC;
    position: relative;
    font-size: 700;
    letter-spacing: 2px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.today-date{
    font-size: 2rem;
    font-weight: 500;
}

.today-date span{
    font-size: 1.5rem;
}

.social-media{
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.social-media li a{
    color: #ffffff;
}

.features .box-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-feature .box{
    flex:1 1 10rem;
    background:#ffff;
    border-radius: .3rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.features .box-feature .box img{
    height: 5rem;
    width: auto;
}

.features .box-feature h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1rem;
}

.features .box-feature p{
    font-size: 1 3rem;
    color:#666;
    padding: 1rem 0;
}

#about {
    width: 100%;
    padding: 2.5rem 0;
}

#about1 {
    width: 100%;
    padding: 1.5rem 0;
}


.about-container{
    width: 1500px;
    margin: auto auto;
}

.about-container1{
    width: 900px;
    margin: auto auto;
}

.image-gallery {
    display: flex;
    width: 100%;
    min-height: 300px;
    justify-content: auto;
    margin-bottom: 2rem;
}

.image-box {
    width: 22%;
    height: 250px;
    position: relative;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.3s;
}

.image-box:nth-child(odd) {
    align-self: flex-end;
}

.image-box img:hover {
    opacity: 0.5;
}

.tks {
    position: absolute;
    bottom: -7%;
    left: 50%;
    font-style: italic;
    font-weight: 500;
}

.about-info {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* FOOTER SECTION */

footer {
    width: 100%;
    padding: 1.5rem 1rem;
    text-align: center;
}

footer i {
    color: #ff2929;
}

footer .nav1 {
    width: 100%;
    padding: 1.5rem 1rem;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .about-container {
        width: 90%;
    }
    .about-container1{
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .today-date {
        display: none;
    }

    .social-media {
        width: 100%;
    }

    .image-gallery {
        flex-direction: column;
    }

    .image-box {
        width: 100%;
        height: 400px;
        margin: 1rem 0;
    }
}

/*<a href="" class="btn-sign-up"></a>*\